.title {
  color: gold;
  text-align: center;
  margin-top: 40px;
  margin-right: 50px;
}

.first,
.second,
.third {
  margin-right: 250px;
}

li {
  cursor: pointer;
}

.card-info {
  display: none;
  border: 2px solid rgb(7, 6, 6);
  width: 400px;
  margin-top: 30px;
  margin-left: 300px;
  padding: 15px;
  border-radius: 10px;
  background-image: url(bc.jpg);
}

li:hover {
  color: rgb(175, 43, 43);
}
